@{
    ViewData["Title"] = "Home Page";
}

<textarea id="txt-html-input"
          name="HTML Input"
          rows="20"
          cols="70"
          maxlength="5000000"
          placeholder="Write HTML code here...">
</textarea>
<button type="button" onclick="">Save
</button>
